* {
    font-family: Arial;
}


.navbar {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 30%;
    position: relative;
    right: 50px;
    bottom: 60px;
}

#rocket {
    height: 200px;
    width: 230px;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
    gap: 50px;
    width: 70%;
}

.nav-button {
    color: orangered;
    font-weight: 500;
    font-size: 25px;
}

.about {
    margin-right: 100px;
    text-align: justify;
}

.top-text {
    position: relative;
    bottom: 100px; 
}

.arrow {
    position: relative;
    left: 600px;
    bottom: 100px;
    height: 50px;
}

.portfolio {
    display: grid;
    grid-template-columns: 420px 420px 420px;
    column-gap: 10px; 
    row-gap: 30px;
    position: relative;
    bottom: 100px;
    font-weight: 600;
}

.proj-col {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.proj-name {
    border-style: solid;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #F39C12;
}

.proj-img {
    height: 113px;
    border-radius: 10px;
}

.proj-descr {
    border-style: solid; 
    height: 113px;
    border-radius: 10px;
    text-align: justify;
    background-color: #F39C12;
}

.descr-text {
    position: relative;
    padding: 10px;
    bottom: 5px;
    font-weight: 100;
}

#csm-img {
    position: relative; 
    z-index: -1;
    left: 95px;
    bottom: 53px;
}

#cs61a-img {
    position: relative;
    left: 150px;
    top: 5px;
}

#met-img {
    position: relative; 
    z-index: -1;
    left: 105px;
    bottom: 47px;
}

#tubitak-img {
    position: relative; 
    z-index: -1;
    height: 100px;
    left: 110px;
    top: 5px;
}

#cern-img {
    position: relative; 
    z-index: -1;
    height: 110px;
    left: 150px;
    top: 2px;
}

.contact {
    border-style: solid;
    border-radius: 10px;
    height: 170px;
    position: relative;
    bottom: 50px;
    background-color: #33E5FF;
    font-weight: 600;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 10px;
}
